.list_wrapper{
width: 90%;
}


.list_ul{
padding: 0;
width: 100%; 
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 50px;
max-height: 650px;
overflow-y: overlay;
padding: 15px 35px 40px 0px;
}



.list_li{
list-style: none;
border: 1px solid;
display: flex;
justify-content: space-between;
padding: 10px 15px;
align-items: center;
height: fit-content;
margin-bottom: 10px;
overflow-wrap: anywhere;
}

.list_item{
width: 100%;
}


.list_removePost{
float: right;
margin: 18px 5px 18px 0px;
}


.list_commentLabel{
margin: 0px;
text-align: center;
cursor: pointer;
color: #3860b3;
}

.list_image{
width: 100%;
height: 260px;
object-fit: contain;
margin: 0 auto;
}

@media(max-width: 768px) {
.list_wrapper{
width: 100% !important; 
}
}
    

@media(max-width: 500px) {
.list_ul{
grid-template-columns: 1fr;
}
}