.home_wrapper{
display: flex;
width: 90vw;
height: 100%;
flex-direction: row-reverse;
align-items: center;
justify-content: space-between;
min-height: 100vh;
}

.username{
float: right;
margin: 10px !important;
}

.userDetails{
position: absolute;
top: 0;
right: 0;
margin: 0px 30px;
display: flex;
flex-direction: column;
}

